*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}
.topleft{
    float: left;
    width: 50%;
    height: 50vh;
}
.rightcolumn{
    float: right;
    width: 50%;
    height: 100vh;
} 
.window .box1{
    display: none;
    width: 10vw;
    height: 10vh;
    left: 1400px;
    position: absolute;
    background-color: blue;
    border: 2px solid black;
    animation-name: fall1;
    animation-fill-mode: forwards;
    animation-duration: 6s;
}
.window .box2{
    display: none;
    width: 10vw;
    height: 10vh;
    left: 1400px;
    position: absolute;
    background-color: blue;
    border: 2px solid black;
    animation-name: fall2;
    animation-fill-mode: forwards;
    animation-duration: 6s;
}
.window .box3{
    display: none;
    width: 10vw;
    height: 10vh;
    left: 1400px;
    position: absolute;
    background-color: blue;
    border: 2px solid black;
    animation-name: fall3;
    animation-fill-mode: forwards;
    animation-duration: 6s;
}
.window .box4{
    display: none;
    width: 10vw;
    height: 10vh;
    left: 1400px;
    position: absolute;
    background-color: blue;
    border: 2px solid black;
    animation-name: fall4;
    animation-fill-mode: forwards;
    animation-duration: 6s;
}
.window .box5{
    display: none;
    width: 10vw;
    height: 10vh;
    left: 1400px;
    position: absolute;
    background-color: blue;
    border: 2px solid black;
    animation-name: fall5;
    animation-fill-mode: forwards;
    animation-duration: 6s;
}
.window .box6{
    display: none;
    width: 10vw;
    height: 10vh;
    left: 1400px;
    position: absolute;
    background-color: blue;
    border: 2px solid black;
    animation-name: fall6;
    animation-fill-mode: forwards;
    animation-duration: 6s;
}
.window .box7{
    display: none;
    width: 10vw;
    height: 10vh;
    left: 1400px;
    position: absolute;
    background-color: blue;
    border: 2px solid black;
    animation-name: fall7;
    animation-fill-mode: forwards;
    animation-duration: 6s;
}
@keyframes fall1{
    0% {top: 0px}
    100% {top: 700px}
}
@keyframes fall2{
    0% {top: 0px}
    100% {top: 617px}
}
@keyframes fall3{
    0% {top: 0px}
    100% {top: 534px}
}
@keyframes fall4{
    0% {top: 0px}
    100% {top: 451px}
}
@keyframes fall5{
    0% {top: 0px}
    100% {top: 368px}
}
@keyframes fall6{
    0% {top: 0px}
    100% {top: 285px}
}
@keyframes fall7{
    0% {top: 0px}
    100% {top: 202px}
}
.window{
    float: left;
    width: 50%;
    height: 50vh;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdownbtn{
    padding: 16px;
}
.operations{
    float: bottom;
    display: none; /* Hides the element */
    position: absolute; /* The element is positioned relative to its first positioned (not static) ancestor element */
}
.operations button{
    display: block; /* To make the buttons appear one below another */
    padding: 16px;
    min-width: 175px;
}
.dropdown:hover .operations{display: block;} /* Shows the operation buttons upon hover */
#pushinput{
    display: none;
}
#pushoutput{
    display: none;
    font-size: 2rem;
    padding-left: 70px;
    padding-top: 25px;
}
#pushoutput2{
    display: none;
    font-size: 2rem;
    padding-left: 70px;
    padding-top: 25px;
}
#pushoutput3{
    display: none;
    font-size: 2rem;
    padding-left: 70px;
    padding-top: 25px;
}
#pushoutput4{
    display: none;
    font-size: 2rem;
    padding-left: 70px;
    padding-top: 25px;
}
#pushoutput5{
    display: none;
    font-size: 2rem;
    padding-left: 70px;
    padding-top: 25px;
}
#pushoutput6{
    display: none;
    font-size: 2rem;
    padding-left: 70px;
    padding-top: 25px;
}
#pushoutput7{
    display: none;
    font-size: 2rem;
    padding-left: 70px;
    padding-top: 25px;
}
#popoutput{
    display:none;
}
#peekoutput{
    display: none;
}
#sizeoutput{
    display:none;
}
#isEmptyoutput{
    display: none;
}
